//字體粗細
$fw--li:300;
$fw--rg:400;
$fw--md:500;
$fw--bd:700;


//header
.header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 666;
    &__logo{
      max-height: 100%;
    }
  }
  .section{
    margin-bottom: 3rem;
  }
  .section--py{
    padding: 3rem 0;
  }

  .main--bg {
    background-color: #f2f2f2;
  }
.section__title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #1d1d1d;
    margin-bottom: 1rem;
}