//前台header
.header--front {
  padding: 2px 0px;
  background-color: $primary;
  border-bottom: 1px solid $gray-line;
  //header搜尋視窗定位
  .header__searchModal {
    position: absolute;
    top: 3.75rem;
    right: 0;
    left: 0;
    display: none;
    &.active {
      display: block;
    }
  }
  .header__navBox {
    position: relative;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    .nav-link {
      font-weight: $fw--md;
    }
    .nav-item {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: -12px;
        background-color: $light;
        height: 0rem;
        width: 100%;
        border-radius: 0.25rem 0.25rem 0 0;
      }
      &.active {
        &::after {
          height: 0.25rem;
        }
        @include md {
          &::after {
            height: 1rem;
          }
        }
      }
      @include md {
        &::after {
          left: 0;
          bottom: 50%;
          width: 4px;
          transform: translateY(25%);
          border-radius: 0.25rem;
        }
      }
    }
  }
  .header__companyBtnBox {
    color: $primary;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.75rem 0.75rem 0 0.75rem;
    margin-right: 0.25rem;
    padding: 0.75rem 1rem;
  }
  .header__companyBtnBox--sm {
    color: $primary;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
  @include md {
    .header__navBox {
      background-color: $primary;
      position: fixed;
      top: calc(4rem + 1px);
      bottom: 0;
      right: -100%;
      width: 80%;
      transition: all 0.3s;
      padding: 1rem;
      z-index: 1200;
    }
    .header__navBox.active {
      right: 0%;
    }
    .header__nav {
      max-height: 100%;
      flex-direction: column;
    }
    .nav-item {
      width: 100%;
      padding-bottom: 0.5rem;
      margin-top: 0.5rem;
      border-bottom: 1px solid $gray-line;
      padding-left: 0;
    }
  }
  .menuCover {
    top: calc(4rem + 1px);
    left: -100%;
    width: 20%;
    &.active {
      left: 0;
    }
  }
}
// 首頁的
.mainBanner {
  position: relative;
  z-index: 1;
  &__logo {
    max-width: 5.5rem;
  }
  &__title {
    font-size: 3rem;
    color: $white;
    @include md {
      font-size: 2.5rem;
    }
    @include sm {
      font-size: 2rem;
    }
  }
  &__innerBox {
    padding-top: 6.75rem;
    padding-bottom: 4.5rem;
    margin-top: -4rem;
    @include md {
      padding-top: 2.75rem;
    }
  }
  &__txtBox {
    @include md {
      text-align: center;
      padding-top: 0.75rem;
      padding-bottom: 7.5rem;
    }
    @include sm {
      padding-bottom: 7rem;
    }
  }
  &__img--bg {
    position: absolute;
    object-fit: cover;
    height: 100%;
    top: 0;
    right: 0%;
    z-index: -1;
    @include xl {
      height: 80%;
      top: 10%;
    }
    @include lg {
      height: 60%;
      top: 20%;
    }
    @include md {
      height: 48%;
      top: 28%;
      right: 50%;
      transform: translateX(50%);
    }
    @include sm {
      height: 28%;
      top: 27%;
    }
  }
}
//首頁熱門職位
.sectionHotJob{
  @include md{
    padding-bottom: 2rem;
  }
}
.card--hotJob {
  padding: 1rem;
  position: relative;
  min-height: 200px;
  width: 100%;
  border-radius: 0.5rem;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .card__title {
    color: $light;
    transition: all 0.3s;
    &:hover {
      color: darken($light, 16%);
    }
  }
  .card__txt {
    color: $light;
    transition: all 0.3s;
    &:hover {
      color: darken($light, 16%);
    }
  }
  @include md {
    min-height: 240px;
  }
  &.card--lg {
    height: 100%;
    .card__title {
      font-size: 1.25rem;
    }
  }
  &.card--sm {
    .card__title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    .card__txt {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .jobTag {
    font-size: 0.875rem;
  }
  .card__btnBox {
    position: absolute;
    top: 1rem;
    right: 1rem;
    .btn--circle {
      .jobIcon {
        color: $light;
      }
      &:hover {
        .jobIcon {
          color: $gray-dark;
        }
      }
    }
  }
}
.card--hotJob.card--sm {
  .card__title {
    font-size: 16px;
  }
  .jobTag {
    padding: 2px 4px;
    font-size: 12px;
  }
}
// 本週推薦企業
.weeklyCompany {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid $gray-line;
  @include md {
    padding-bottom: 5.5rem;
  }
  .btn--goToCompany {
    width: 100%;
    @include md {
      position: absolute;
      bottom: 3rem;
      left: 0;
    }
  }
  &__infoBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 1px solid $gray-line;
    padding-right: 1.25rem;
    .logoImgBox {
      width: 60%;
    }
    .page__title {
      font-size: 1.25rem;
      color: $dark;
      font-weight: 500;
    }
    @include md {
      border: 0;
      flex-direction: row;
      align-items: start;
      .logoImgBox {
        width: 30%;
        margin-right: 1.25rem;
      }
      .txtBox {
        width: 100%;
      }
    }
  }
  &__companyContentBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include md {
      flex-direction: column-reverse;
    }
    .companyContent {
      max-width: calc(40% - 10px);
      max-height: 264px;
      overflow: hidden;
      @include lg {
        max-width: calc(50% - 10px);
      }
      @include md {
        max-width: 100%;
      }
    }
    .imgBox {
      max-width: calc(60% - 10px);
      height: 264px;
      border-radius: 0.5rem;
      .swiper-container {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        .imgBox__img {
          width: 100%;
          height: calc(100% - 1.5rem);
          object-fit: cover;
          border-radius: 0.5rem;
        }
      }
      @include lg {
        max-width: calc(50% - 10px);
      }
      @include md {
        max-width: 100%;
      }
    }
  }
  &__jobList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .list__item {
      background-color: $white;
      width: calc(50% - 8px);
      border: 1px solid $gray-line;
      padding: 0.75rem;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      &:hover {
        background-color: $gray-light;
      }
      &__title:hover {
        color: $primary;
      }
      @include sm {
        width: 100%;
      }
    }
  }
}

// 熱門職位類別
.hotCategory {
  .hotCategoryList{
    align-items: stretch;
    @include md{
      margin-bottom: -1rem;
    }
  }
  .list__item {
    position: relative;
    &:first-child {
      img {
        position: absolute;
        object-fit: contain;
        top: 0;
        right: 0;
        max-height: 100%;
      }
      .hotCategoryBox {
        background-color: $primary;
        p {
          color: $white;
        }
        .seeMoreBtn {
          color: $white;
        }
        .jobIcon {
          color: $white;
        }
      }
    }
  }
  .seeMoreBtn {
    cursor: pointer;
    padding: 8px 0;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    .jobIcon {
      color: $dark;
      font-size: 24px;
    }
  }
  .hotCategoryBox {
    border-radius: 0.5rem;
    background-color: $gray-light;
    min-height: 160px;
    height: 100%;
    &:hover {
      background-color: $primary;
      p {
        color: $white;
      }
      .seeMoreBtn {
        color: $white;
        .jobIcon {
          color: $white;
        }
      }
    }
  }
}
// 招募企業廣告
.addCompanyBanner {
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 1;
  background-color: $primary-light;

  @include md {
    flex-direction: column;
  }
  &__mainImg {
    max-width: 50%;
    position: relative;
    bottom: -1.5rem;
    height: auto;
    object-fit: contain;
    object-position: bottom;
    @include lg {
      max-width: 36%;
    }
    @include md {
      max-width: 100%;
    }
  }
  .img-cover-top {
    position: absolute;
    top: 0;
    right: 0;
    height: 92%;
    z-index: -1;
    border-radius: 0 8px 0 0;
    @include md {
      height: 40%;
    }
  }
  .img-cover-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60%;
    z-index: -1;
    border-radius: 0 0 0 8px;
    @include md {
      height: 40%;
    }
  }
}
.cooperationCompany{
  margin-bottom: -1.5rem;
  @include sm{
    margin-bottom: -0.75rem;
  }
}
// 搜尋列表＆全部職位列表
// 職位列表
.allJobList {
  .list__item {
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: $light;
    margin-bottom: 0.75rem;
    position: relative;
    &::before {
      content: '';
      width: 0.5rem;
      // height: 100%;
      border-radius: 0.5rem 0 0 0.5rem;
      background-color: $primary-light;
      position: absolute;
      left: 0px;
      top: 0;
      bottom: 0;
      display: none;
    }
    @include sm {
      padding: 0;
    }
    &.active {
      &::before {
        display: block;
      }
      &::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 100%;
        border-right: 0;
        border-left: 12px solid $primary-light;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
        z-index: 2;
        margin-top: -22px;
      }
      @include md {
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
      }
    }
    &:hover {
      background-color: rgba($color: $light, $alpha: 0.5);
    }
    &__imgBox {
      max-width: 24%;
      position: relative;
      margin-right: 1.75rem;
      .jobImage {
        max-width: 100%;
        border-radius: 0.25rem;
      }
      @include sm {
        top: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 1.5rem;
        .jobImage {
          width: 100%;
          max-height: 10rem;
          object-fit: cover;
          border-radius: 0.5rem 0.5rem 0 0;
        }
        .img-cover {
          border-radius: 0.5rem 0.5rem 0 0;
        }
      }
    }
    &__tagBox {
      @include sm {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 100;
      }
    }
    &__logoImgBox {
      position: absolute;
      top: -0.25rem;
      right: -1rem;
      padding: 0.25rem;
      width: 4.5rem;
      background-color: $light;
      border-radius: 0 0 0 0.25rem;
      .logoImg {
        max-width: 100%;
        border: 1px solid $gray-line;
        border-radius: 0.125rem;
      }
      @include sm {
        width: 5rem;
        border-radius: 0.25rem;
        top: 90%;
        left: 0.5rem;
      }
    }
    &__txtBox {
      text-decoration: none;
      @include sm {
        padding: 1rem;
      }
    }
    &__title {
      color: $dark;
      font-weight: $fw--md;
      &:hover {
        color: $primary;
      }
    }
    .collectBtn {
      z-index: 100;
      @include sm {
        top: 1rem;
        right: 1rem;
        background-color: $light;
      }
    }
  }
}
// 右側的職位資訊欄
.sideJobBox {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  &__imgBox {
    width: 32%;
    position: relative;
    margin-right: 3rem;
    .jobImg {
      max-width: 100%;
      border-radius: 0.5rem;
    }
    .logoImageBox {
      position: absolute;
      top: -0.25rem;
      right: -1.5rem;
      width: 6rem;
      .logoImg {
        width: 100%;
        border: 1px solid $gray-line;
        border-radius: 2px;
      }
    }
  }
  &__txtBox {
    max-width: 100%;
  }
  &__title {
    font-weight: $fw--md;
    color: $dark;
    font-size: 1.25rem;
  }
  &__section {
    padding: 1.5rem 0;
    border-bottom: 1px solid $gray-line;
    &:last-child {
      padding: 1.5rem 0 0 0;
      border-bottom: 0;
    }
  }
}
.sideJobBox--sticky {
  position: sticky;
  top: 6rem;
  height: calc(100vh - 132px);
  overflow-y: auto;
}
.filterBox {
  background-color: $light;
  padding: 1.5rem;
  border-radius: 0.5rem;
  &__section {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid $gray-line;
    position: relative;
    &__tag {
      padding: 6px 12px;
      background-color: $gray-light;
      color: $dark;
      border-radius: 0.25rem;
      font-size: 14px;
      margin-right: 1.5rem;
      white-space:nowrap;
    }
    &__tag--title {
      width: 80px;
      display: flex;
      justify-content: center;
      color: $dark;
      font-size: 16px;
      font-weight: $fw--md;
      margin-right: 1.5rem;
    }
    &:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }
    @include lg{
      &__tag {
        padding: 6px 8px;
        margin-right: 1rem;
      }
      &__tag--title {
        width: 72px;
        margin-right: 1rem;
      }
    }
    @include md{
      flex-direction: column;
      align-items: start;
      &__content{
        align-self: stretch;
      }
      &__tag {
        margin-right: 0rem;
        margin-bottom: 0.75rem;
      }
      &__tag--title {
        margin-right: 0rem;
        margin-bottom: 0.75rem;
      }
    }
  }
}
//職位頁面
.jobPage {
  .jobInfoBox {
    padding: 1.5rem;
    background-color: $light;
    border-radius: 0.5rem;
    .page__title {
      font-size: 1.5rem;
      font-weight: $fw--bd;
      color: $dark;
      margin-bottom: 0.75rem;
    }
    &__imgBox {
      width: 48%;
      position: relative;
      margin-right: 3rem;
      .jobImg {
        max-width: 100%;
        border-radius: 0.5rem;
      }
      @include md {
        top: 0;
        width: 100%;
        left: 0;
        height: 7.5rem;
        .jobImg {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &__logoImgBox {
      position: absolute;
      max-width: 7.5rem;
      top: -0.25rem;
      right: -2.25rem;
      padding: 6px;
      background-color: $light;
      border-radius: 0 0 0 0.25rem;
      .logoImg {
        width: 100%;
        border: 1px solid $gray-line;
        border-radius: 2px;
      }
      @include md {
        max-width: 4.5rem;
        padding: 4px;
        top: 50%;
        left: 50%;
        border-radius: 0.25rem;
        transform: translate3d(-50%, -50%, 0);
      }
    }
    &__txtBox {
      width: 100%;
    }
  }
  .jobContentSection {
    padding: 1.5rem;
    background-color: $light;
    border-radius: 0.5rem;
  }
  .page__link {
    text-decoration: underline;
  }
}
.companyImgBox {
  padding: 0.75rem;
  img {
    max-width: 100%;
    border-radius: 0.5rem;
  }
  .companyImage--sub {
    width: calc(50% - 6px);
  }
}

// 公司頁面
.companyPage {
  .companyInfoBox {
    padding: 1.5rem;
    background-color: $light;
    border-radius: 0.5rem;
    .page__title {
      font-size: 1.5rem;
      font-weight: $fw--bd;
      color: $dark;
      margin-bottom: 0.75rem;
    }
    &__logoImgBox {
      padding: 0.25rem;
      width: 240px;
      border-radius: 0.5rem;
      background-color: $light;
      border: 1px solid $gray-line;
      display: flex;
      align-items: center;
      justify-content: center;
      .logoImg {
        width: 100%;
      }
      @include md {
        width: 180px;
        border-radius: 0.25rem;
      }
    }
    &__txtBox {
      width: 100%;
    }
  }
  .jobContent__imgBox {
    width: auto;
    margin-right: 12px;
  }
  .companyPage__companyImage {
    border-radius: 8px;
    max-width: calc(33.333% - 12px);
    @include sm {
      max-width: 100%;
    }
  }
  .companyJobList {
    .jobList__item {
      width: calc(50% - 8px);
      position: relative;
      border: 1px solid $gray-line;
      padding: 0.75rem;
      border-radius: 0.5rem;
      transition: all 0.3s;
      &:hover {
        border: 1px solid $primary;
      }
      @include md {
        width: 100%;
      }
      .collectBtn {
        border: 1px solid $gray-line;
      }
      &__imgBox {
        width: 30%;
        position: relative;
        margin-right: 1.5rem;
        .jobImg {
          max-width: 100%;
          border-radius: 0.25rem;
        }
      }
      &__txtBox {
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
  .collectBtn--company {
    border-radius: 0.5rem;
    color: $dark;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    transition: all 0.3s;
    min-width: 110px;
    .jobIcon {
      font-size: 1rem;
    }
    &.active {
      background-color: $primary-light;
      border: 1px solid $primary-light;
      color: $primary;
      .jobIcon {
        color: $primary;
      }
    }
  }
  .collectBtn--company--phone {
    border-radius: 0.5rem;
    color: $dark;
    transition: all 0.3s;
    min-width: 110px;
    .jobIcon {
      font-size: 1rem;
    }
    &.active {
      background-color: $primary-light;
      border: 1px solid $primary-light;
      color: $primary;
      .jobIcon {
        color: $primary;
      }
    }
  }
}
.collectBtn.pageState {
  top: 24px;
  right: 24px;
}
.jobSubBox {
  border-radius: 0.5rem;
  background-color: $light;
  .applyImg{
    width: 100%;
    background-color: $gray-light;
    border-radius: 0.5rem ;
    margin-bottom: 0.5rem;
  }
  &__title {
    color: $dark;
    font-weight: $fw--md;
    padding: 0.75rem;
    border-bottom: 1px solid $gray-line;
  }
  .list__item {
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid $gray-line;
    &:hover {
      background-color: $gray-light;
    }
    &:last-child {
      border-bottom: 0;
      border-radius: 0 0 0.5rem 0.5rem;
    }
    &__link,
    &__link--sub {
      font-size: 1rem;
      display: block;
      cursor: pointer;
      color: $gray-dark;
      &:hover {
        color: $primary;
      }
    }
    &__link--sub {
      font-size: 14px;
    }
    &__time {
      font-size: 14px;
      text-align: end;
      color: $secondary;
    }
  }
}
// 搜尋頁面
.sideFilterBox {
  background-color: $white;
  border-radius: 0.5rem;
  max-width: 320px;
  margin-bottom: 0.5rem;
  z-index: 9999;
  max-height: 80vh;
  position: relative;
  @include shadow-md;
  @include sm {
    max-width: 100%;
    max-height: calc( 100vh - 2rem );
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.16);
    .bg-cover--dark {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.16);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
  &__Header{
    background-color: $gray-light;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__contentBox{
    padding: 1rem;
    max-height: 320px;
    overflow-y:auto;
    @include sm {
      max-height: 480px;
    }
  }
  &__section{
    padding: 1rem 0;
    border-bottom: 1px solid $gray-line;
    &:last-child{
      border-bottom: 0;
      padding-bottom: 0;
    }
    &__tag {
      padding: 0.25rem 0.75rem;
      background-color: $gray-light;
      color: $dark;
      border-radius: 0.25rem;
      font-size: 14px;
      white-space:nowrap;
      margin-bottom: 0.75rem;
      display: inline-block;
    }
  }
  &__footer{
    border-top: 1px solid $gray-line;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
//front-footer
.footer--front {
  background-color: #3f6745;
}

//新增企業
.newCompanyForm {
  background-color: #fff;
  border-radius: 0.5rem;
  min-height: 360px;
  padding: 1.5rem;
  @include md {
    padding: 1rem;
  }
}
.addProcessBox {
  border-radius: 0.5rem;
  background-color: white;
  text-align: center;
  position: relative;
  &__title {
    font-size: 32px;
    font-weight: bold;
    color: $primary;
  }
  .icon--okBox {
    display: none;
    background-color: $gray-mid;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    top: -12px;
    right: -12px;
    &__innerBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      background-color: #9fb3a2;
      border-radius: 50%;
    }
    .jobIcon {
      font-size: 16px;
      color: $primary;
    }
  }
}
.addProcessBox.unActive {
  background-color: $gray-line;
  color: #979797;
  .addProcessBox__title {
    color: #979797;
  }
}
.addProcessBox.completed {
  background-color: #9fb3a2;
  .addProcessBox__txt {
    color: $primary;
  }
  .icon--okBox {
    display: block;
  }
}
.cropImgBox {
  width: 100%;
  height: 160px;
  background-color: $gray-light;
  border: 1px solid $gray-line;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 8px;
  border-radius: 0.5rem;
  .cropImg {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  .cropImgBox__deleteBtn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 80;
  }
  .cropImgBox__cover {
    height: 100%;
    width: 100%;
    background-color: #1d1d1d;
    opacity: 0.3;
    position: absolute;
    border-radius: calc(0.5rem - 1px);
    // 設置背景混和模式為相乘模式
  }
  .iconBox {
    background-color: $gray-light;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 50;
    &__innerBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      background-color: #9fb3a2;
      border-radius: 50%;
    }
    .jobIcon {
      font-size: 16px;
      color: $primary;
    }
  }
}
// 收藏頁面
//收藏夾

.collectionBox {
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  &:hover {
    background-color: $gray-light;
  }
  .txtBox__title {
    // font-size: 20px;
    font-weight: $fw--md;
    color: $dark;
  }
  .txtBox__title:hover {
    color: $primary;
  }
}
.collectionBox__imgBox {
  position: relative;
  height: 240px;
  background-color: $gray-light;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  &__item {
    background-color: $gray-line;
    overflow: hidden;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: $dark, $alpha: 0.3);
    }
  }
  .item--fri {
    width: calc(50% - 0.125rem);
    height: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
  }
  &__innerBox {
    width: calc(50% - 0.125rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .item--sec {
      height: calc(50% - 0.125rem);
      width: 100%;
      border-radius: 0 0.5rem 0 0;
    }
    &__littleBox {
      display: flex;
      justify-content: space-between;
      height: calc(50% - 0.125rem);
    }
    .item--tri {
      width: calc(50% - 0.125rem);
      height: 100%;
    }
    .item--four {
      width: calc(50% - 0.125rem);
      height: 100%;
      border-radius: 0 0 0.5rem 0;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.collectionBox--new {
  height: 100%;
  &:hover {
    .collectionBox--new__newBtn,.jobIcon {
      color: $primary;
    }
  }
  &__cover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .collectionBox--new__newBtn {
      background-color: $gray-light;
      padding: 0.5rem 0.75rem;
      border-radius: 0.5rem;
    }
  }
  .collectionBox__imgBox {
    &__item {
      &::after {
        background-color: rgba($color: $dark, $alpha: 0);
      }
    }
  }
}
.nowFolder {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  &:hover {
    background-color: $gray-light;
    .collectFolder--sm {
      background-color: $gray-line;
    }
    .collectFolder__title {
      color: $primary;
    }
  }
  .collectFolder--sm {
    width: 44px;
    height: 44px;
    background-color: $gray-light;
    border-radius: 0.5rem;
    margin-right: 1rem;
    .collectFolder__imgCover {
      border-radius: 0.5rem;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .collectFolder--new {
    display: flex;
    align-items: center;
    justify-content: center;
    .jobIcon {
      color: $dark;
    }
  }
  .collectFolder__subTxt {
    font-size: 14px;
    color: $secondary;
  }
}
.collectionBoxList--company {
  min-height: 320px;
}
.collectionCompanyCard {
  margin-bottom: 1.25rem;
  &__companyInfoBox {
    padding: 0.75rem;
    border-bottom: 1px solid $gray-line;
    &__logoBox {
      max-width: 4rem;
      padding: 0.25rem;
      border: 1px solid $gray-line;
      border-radius: 0.25rem;
    }
    .logoBox__logo {
      width: 100%;
    }
  }
  .card__title {
    font-size: 1rem;
    color: $dark;
    font-weight: $fw--md;
  }
  &__Job {
    padding: 0.75rem;
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    min-height: 80px;
    &--unRecruit {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-radius: 0 0 0.5rem 0.5rem;
      min-height: 80px;
    }
    &:hover {
      background-color: $gray-light;
    }
    &__title {
      font-weight: $fw--md;
      color: $dark;
    }
  }
}
// 工具類
.inputGroup--item {
  .inputItem__title {
    // color:#1d1d1d;
    font-size: 14px;
    margin-left: 0.75rem;
    margin-bottom: 0.25rem;
  }
}
.form__labelBox {
  display: flex;
  align-items: center;
  margin: 0px 12px 4px 12px;
  .form__label--custom {
    font-size: 14px;
    margin-bottom: 0;
  }
}
.formTag--must {
  padding: 1px 0.5rem;
  margin-left: 4px;
  border-radius: 0.25rem;
  background-color: #09a758;
  color: $white;
  font-size: 8px;
}
.form__inputBox {
  margin-bottom: 16px;
}
//元件
.goodCardList.swipper--custom {
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
  // padding: 0;
  .goodCard.swipper--custom {
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
  }
}
.goodJobCard {
  .goodJobCard__imgBox {
    max-height: 180px;
    position: relative;
  }
  .goodJobCard__img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .img-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .goodJobCard__jobInfoBox {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0.5rem 0.75rem;
    overflow: hidden;
    z-index: 1;
    .goodJobCard__img {
      position: absolute;
      // top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      object-position: left bottom;
      filter: blur(10px);
      z-index: -1;
    }
  }
  .goodJobCard__logo {
    width: 24%;
    max-width: 80px;
    border-radius: 0.25rem;
    z-index: 99;
  }
}
.iconBtnBox {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  .actionIcon {
    font-size: 24px;
    font-weight: bold;
    color: #1d1d1d;
  }
}

// helper
.form__infoEditBox {
  .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
  .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
  .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .ck-editor__editable_inline {
    min-height: 240px;
  }
  .ck-content h2 {
    font-size: 24px;
  }
}

.form-check {
  padding-top: 8px;
  padding-bottom: 8px;
}
.footer__nav {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  .nav-item {
    width: 100%;
    @include sm {
      border-bottom: 1px solid $white;
      &:first-child {
        border-radius: 0.5rem 0.5rem 0 0;
      }
      &:last-child {
        border: 0;
        border-radius: 0 0 0.5rem 0.5rem;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    .nav-link {
      width: 100%;
    }
  }
}
.hamburgerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 44px;
  width: 44px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.16);
  }
  .jobIcon {
    color: $white;
  }
}

.img--searchNoJob{
  max-width:48%;
  margin: 2rem 0;
  @include md{
  max-width:64%;
  }
  @include sm{
    max-width: 80%;
  }
}
// 申請畫面scss
.applyContainer{
  background-color: $light;
  border-radius: 0.5rem;
  display: flex;
  &__applySideBox{
    width: 36%;
    background-color:$gray-line;
    border-radius:0.5rem 0 0 0.5rem;
    padding:1.5rem;
    .logoImgBox{
      width: 24%;
      border-radius: 0.25rem;
    }
    .applySideBox__companyBox{
      display: flex;
      align-items: center;
      padding-bottom: 1rem;
      border-bottom: 1px solid $gray-line;
      margin-bottom: 1rem;
    }
    .applySideBox{
      max-height: calc(100% - 4rem);
      overflow-y: auto;
    }
  }
  .applySideBox__section{
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-line;
    margin-bottom: 0.75rem;
    &:last-child{
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    &__open{
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: $fw--md;
      color:$dark;
      padding-right: 0.75rem;
      height: 44px;
    }
    &__content{
      margin-top: 0.75rem;
    }
  }
  &__applyInfoBox{
    width: 64%;
    padding: 1.5rem;
  }
  .applySideBox{
    background-color: $light;
    padding: 0.75rem;
    border-radius: 0.5rem;
  }
  .applyBackBtn{
    &__title{
      position: relative;
      &::before{
        content: '';
        width: 1px;
        height: 20px;
        background-color: $gray-line;
        border-radius: 50%;
        left: -0.5rem;
        top: 0;
        position: absolute;
      }
    }
  } 
  @include md{
    flex-direction: column;
    &__applySideBox{
      width: 100%;
      border-radius: 0.5rem 0.5rem 0 0;
    }
    .applySideBox{
      max-height: 240px;
      overflow-y: auto;
    }
    &__applyInfoBox{
      width: 100%;
      border-radius:0 0 0.5rem 0.5rem;
    }
  }
  @include sm{
    .applySideBox{
      display: none;
    }
    &__applySideBox{
      padding: 1rem;
    }
    .applySideBox{
      padding: 1rem;
    }
  }
}