//前台header
.header--front {
  padding: 2px 0px;
  background-color: $primary;
  border-bottom: 1px solid $gray-line;
  //header搜尋視窗定位
  .header__searchModal {
    position: absolute;
    top: 3.75rem;
    right: 0;
    left: 0;
    display: none;
    &.active {
      display: block;
    }
  }
  .header__navBox {
    position: relative;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    .nav-link {
      font-weight: $fw--md;
    }
  }
  .header__companyBtnBox {
    color: $primary;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0.75rem 0.75rem 0 0.75rem;
    margin-right: 0.25rem;
    padding: 0.75rem 1rem;
  }
  .header__companyBtnBox--sm {
    color: $primary;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
  @include md {
    .header__navBox {
      background-color: $primary;
      position: fixed;
      top: calc(4rem + 1px);
      bottom: 0;
      right: -100%;
      width: 80%;
      transition: all 0.3s;
      padding: 1rem;
      z-index: 1200;
    }
    .header__navBox.active {
      right: 0%;
    }
    .header__nav {
      max-height: 100%;
      flex-direction: column;
    }
    .nav-item {
      width: 100%;
      margin-bottom: 1rem;
      border-bottom: 1px solid $gray-line;
      padding-left: 0;
    }
  }
  .menuCover {
    top: calc(4rem + 1px);
    left: -100%;
    width: 20%;
    &.active {
      left: 0;
    }
  }
}
// 首頁的
.mainBanner {
  position: relative;
  z-index: 1;
  &__logo {
    max-width: 5.5rem;
  }
  &__title {
    font-size: 3rem;
    color: $white;
    @include md {
      font-size: 2.5rem;
    }
    @include sm {
      font-size: 2rem;
    }
  }
  &__innerBox {
    padding-top: 6.75rem;
    padding-bottom: 4.5rem;
    margin-top: -3rem;
    @include md {
      padding-top: 2.75rem;
    }
  }
  &__txtBox {
    @include md {
      text-align: center;
      padding-top: 0.75rem;
      padding-bottom: 7.5rem;
    }
    @include sm {
      padding-bottom: 7rem;
    }
  }
  &__img--bg {
    position: absolute;
    object-fit: cover;
    height: 100%;
    top: 0;
    right: 0%;
    z-index: -1;
    @include xl {
      height: 80%;
      top: 10%;
    }
    @include lg {
      height: 60%;
      top: 20%;
    }
    @include md {
      height: 48%;
      top: 28%;
      right: 50%;
      transform: translateX(50%);
    }
    @include sm {
      height: 28%;
      top: 27%;
    }
  }
}
//首頁熱門職位
.card--hotJob {
  padding: 1rem;
  position: relative;
  min-height: 200px;
  width: 100%;
  border-radius: 0.5rem;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .card__title {
    color: $light;
    transition: all 0.3s;
    &:hover {
      color: darken($light, 16%);
    }
  }
  .card__txt {
    color: $light;
    transition: all 0.3s;
    &:hover {
      color: darken($light, 16%);
    }
  }
  @include md {
    min-height: 240px;
  }
  &.card--lg {
    height: 100%;
    .card__title {
      font-size: 1.25rem;
    }
  }
  &.card--sm {
    .card__title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    .card__txt {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .jobTag {
    font-size: 0.875rem;
  }
  .card__btnBox {
    position: absolute;
    top: 1rem;
    right: 1rem;
    .btn--circle {
      .jobIcon {
        color: $light;
      }
      &:hover {
        .jobIcon {
          color: $gray-dark;
        }
      }
    }
  }
}
.card--hotJob.card--sm {
  .card__title {
    font-size: 16px;
  }
  .jobTag {
    padding: 2px 4px;
    font-size: 12px;
  }
}
// 本週推薦企業
.weeklyCompany {
  position: relative;
  z-index: 1;
  .section__bg {
    height: 64%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &__Box--left {
    background-color: $white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include md {
      border-radius: 0 0 0.5rem 0.5rem;
    }
    .page__title {
      font-size: 1.25rem;
      color: $dark;
      font-weight: 500;
    }
    .companyContentBox {
      .companyContent {
        max-height: 164px;
        overflow: hidden;
      }
      @include lg {
        max-width: 90%;
      }
      @include md {
        max-width: 100%;
      }
    }
  }
  &__Box--right {
    position: absolute;
    top: -2rem;
    right: 0;
    @include md {
      position: static;
    }
    .imageBox {
      max-width: 100%;
      height: auto;
      border-radius: 0.5rem;
      @include md {
        border-radius: 0.5rem 0.5rem 0 0;
      }
    }
    img {
      max-width: 100%;
    }
  }
  &JobList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .list__item {
      background-color: $white;
      width: calc(50% - 8px);
      border: 1px solid $gray-line;
      padding: 0.75rem;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
      &:hover {
        background-color: $gray-light;
      }
      @include md {
        width: 100%;
      }
    }
  }
}
// 熱門職位類別
.hotCategory {
  .list__item {
    position: relative;
    &:first-child {
      img {
        position: absolute;
        object-fit: contain;
        top: 0;
        right: 0;
        max-height: 100%;
      }
      .hotCategoryBox {
        background-color: $primary;
        p {
          color: $white;
        }
        .seeMoreBtn {
          color: $white;
        }
        .jobIcon {
          color: $white;
        }
      }
    }
  }
  .seeMoreBtn {
    cursor: pointer;
    padding: 8px 0;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    .jobIcon {
      color: $dark;
      font-size: 24px;
    }
  }
  .hotCategoryBox {
    border-radius: 0.5rem;
    background-color: $gray-light;
    min-height: 160px;
    &:hover {
      background-color: $primary;
      p {
        color: $white;
      }
      .seeMoreBtn {
        color: $white;
        .jobIcon {
          color: $white;
        }
      }
    }
  }
}
// 招募企業廣告
.addCompanyBanner {
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 1;
  background-color: $primary-light;

  @include md {
    flex-direction: column;
  }
  &__mainImg {
    max-width: 50%;
    position: relative;
    bottom: -1.5rem;
    height: auto;
    object-fit: contain;
    object-position: bottom;
    @include lg {
      max-width: 36%;
    }
    @include md {
      max-width: 100%;
    }
  }
  .img-cover-top {
    position: absolute;
    top: 0;
    right: 0;
    height: 92%;
    z-index: -1;
    border-radius: 0 8px 0 0;
    @include md {
      height: 40%;
    }
  }
  .img-cover-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60%;
    z-index: -1;
    border-radius: 0 0 0 8px;
    @include md {
      height: 40%;
    }
  }
}

// 搜尋列表＆全部職位列表

// 職位列表
.allJobList {
  .list__item {
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: $light;
    margin-bottom: 0.75rem;
    position: relative;
    @include sm {
      padding: 0;
    }
    &.active {
      &::before {
        content: '';
        width: 0.5rem;
        // height: 100%;
        border-radius: 0.5rem 0 0 0.5rem;
        background-color: $primary-light;
        position: absolute;
        left: 0px;
        top: 0;
        bottom: 0;
      }
      &::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 50%;
        left: 100%;
        border-right: 0;
        border-left: 12px solid $primary-light;
        border-top: 22px solid transparent;
        border-bottom: 22px solid transparent;
        z-index: 2;
        margin-top: -22px;
      }
      @include md {
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
      }
    }
    &__imgBox {
      max-width: 24%;
      position: relative;
      margin-right: 1.75rem;
      .jobImage {
        max-width: 100%;
        border-radius: 0.25rem;
      }
      @include sm {
        top: 0;
        left: 0;
        right: 0;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 1.5rem;
        .jobImage {
          width: 100%;
          max-height: 10rem;
          object-fit: cover;
          border-radius: 0.5rem 0.5rem 0 0;
        }
        .img-cover {
          border-radius: 0.5rem 0.5rem 0 0;
        }
      }
    }
    &__tagBox {
      @include sm {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 100;
      }
    }
    &__logoImgBox {
      position: absolute;
      top: -0.25rem;
      right: -1rem;
      padding: 0.25rem;
      width: 4.5rem;
      background-color: $light;
      border-radius: 0 0 0 0.25rem;
      .logoImg {
        max-width: 100%;
        border: 1px solid $gray-line;
        border-radius: 0.125rem;
      }
      @include sm {
        width: 5rem;
        border-radius: 0.25rem;
        top: 90%;
        left: 0.5rem;
      }
    }
    &__txtBox {
      text-decoration: none;
      @include sm {
        padding: 1rem;
      }
    }
    &__title {
      color: $dark;
      font-weight: $fw--md;
    }
    .collectBtn {
      z-index: 100;
      @include sm {
        top: 1rem;
        right: 1rem;
        background-color: $light;
      }
    }
  }
}
// 右側的職位資訊欄
.jobsListContainer {
  .sideJobBox {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    &__imgBox {
      position: relative;
      width: 32%;
      margin-right: 2.25rem;
      .logoImageBox {
        position: absolute;
        top: -0.25rem;
        right: -1.5rem;
        width: 6rem;
      }
    }
    &__txtBox {
      max-width: 100%;
    }
    &__title {
      font-weight: $fw--md;
      color: $dark;
      font-size: 1.25rem;
    }
    &__section {
      padding: 1.5rem 0;
      border-bottom: 1px solid $gray-line;
      &:last-child {
        padding: 1.5rem 0 0 0;
        border-bottom: 0;
      }
    }
  }
  .sideJobBox--sticky {
    position: sticky;
    top: 6rem;
    height: calc(100vh - 132px);
    overflow: scroll;
  }
}

// 舊的
.jobList {
  .jobList__item {
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: white;
    margin-bottom: 12px;
    position: relative;
    .jobList__item__imgBox {
      width: 24%;
      position: relative;
      margin-right: 28px;
      .jobImage {
        max-width: 100%;
        border-radius: 8px;
      }
    }
    .jobList__item__txtBox {
      text-decoration: none;
      font-weight: 500;
    }
    .logoImageBox {
      position: absolute;
      top: -4px;
      right: -16px;
      padding: 4px;
      width: 72px;
      background-color: #fff;
      border-radius: 0px 0px 0px 4px;
      .logoImage {
        max-width: 100%;
        border: 1px solid $gray-line;
        border-radius: 2px;
      }
    }
  }
  .jobList__item:last-child {
    margin-bottom: 0;
  }
}
// 舊的
.jobSelectBox {
  position: sticky;
  top: 96px;
  height: calc(100vh - 132px);
  overflow: scroll;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 24px;
  .jobContent__imgBox {
    position: relative;
    width: 32%;
    margin-right: 36px;
    .logoImageBox {
      position: absolute;
      top: -4px;
      right: -24px;
      width: 100px;
    }
  }
  .jobSelectBox__title {
    font-weight: 500;
    color: #1d1d1d;
    font-size: 20px;
  }
}

.list__title {
  color: #1d1d1d;
  font-weight: 500;
  padding: 12px;
  border-bottom: 1px solid $gray-line;
}
.companyImageBox {
  padding: 12px;
  img {
    max-width: 100%;
    border-radius: 8px;
  }
  .companyImage--sub {
    width: calc(50% - 6px);
  }
}

.jobContentBox {
  padding: 1.5rem;
  background-color: $light;
  border-radius: 0.5rem;
  .jobContent__imgBox {
    width: 48%;
    position: relative;
    margin-right: 3rem;
    .jobImage {
      max-width: 100%;
      border-radius: 0.5rem;
    }
  }
  .logoImageBox {
    position: absolute;
    top: -0.25rem;
    right: -2.25rem;
    padding: 6px;
    background-color: $light;
    border-radius: 0 0 0 0.25rem;
    .logoImage {
      width: 7.5rem;
      border: 1px solid $gray-line;
      border-radius: 2px;
    }
  }
  .JobContent__txtBox {
    width: 100%;
  }
  .page__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $dark;
    margin-bottom: 0.75rem;
  }
  .page__link {
    text-decoration: underline;
  }
}
.box--shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  // &:hover {
  //     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  //   }
}
.box--shadow--lg {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}

//職位頁面
.jobPage {
  .jobInfoBox {
    padding: 1.5rem;
    background-color: $light;
    border-radius: 0.5rem;
    .page__title {
      font-size: 1.5rem;
      font-weight: $fw--bd;
      color: $dark;
      margin-bottom: 0.75rem;
    }
    &__imgBox {
      width: 48%;
      position: relative;
      margin-right: 3rem;
      .jobImg {
        max-width: 100%;
        border-radius: 0.5rem;
      }
      @include md {
        top: 0;
        width: 100%;
        left: 0;
        height: 7.5rem;
        .jobImg {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &__logoImgBox {
      position: absolute;
      top: -0.25rem;
      right: -2.25rem;
      padding: 6px;
      background-color: $light;
      border-radius: 0 0 0 0.25rem;
      .logoImg {
        width: 120px;
        border: 1px solid $gray-line;
        border-radius: 2px;
      }
      @include md {
        top: 50%;
        left: 50%;
        border-radius: 0.25rem;
        transform: translate3d(-50%, -50%, 0);
      }
    }
    &__txtBox {
      width: 100%;
    }
  }
  .jobContentSection {
    padding: 1.5rem;
    background-color: $light;
    border-radius: 0.5rem;
  }
  .page__link {
    text-decoration: underline;
  }
}

// 公司頁面
.companyPage {
  .companyInfoBox {
    padding: 1.5rem;
    background-color: $light;
    border-radius: 0.5rem;
    .page__title {
      font-size: 1.5rem;
      font-weight: $fw--bd;
      color: $dark;
      margin-bottom: 0.75rem;
    }
    &__logoImgBox {
      padding: 0.25rem;
      width: 240px;
      border-radius: 0.5rem;
      background-color: $light;
      border: 1px solid $gray-line;
      display: flex;
      align-items: center;
      justify-content: center;
      .logoImg {
        width: 100%;
      }
      @include md {
        width: 180px;
        border-radius: 0.25rem;
      }
    }
    &__txtBox {
      width: 100%;
    }
  }
  .jobContent__imgBox {
    width: auto;
    margin-right: 12px;
  }
  .companyPage__companyImage {
    border-radius: 8px;
    max-width: calc(33.333% - 12px);
    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
  }
  .companyJobList {
    .jobList__item {
      width: calc(50% - 8px);
      position: relative;
      border: 1px solid $gray-line;
      padding: 0.75rem;
      border-radius: 0.5rem;
      transition: all 0.3s;
      &:hover {
        border: 1px solid $primary;
      }
      @include md {
        width: 100%;
      }
      .collectBtn {
        border: 1px solid $gray-line;
      }
      &__imgBox {
        width: 30%;
        position: relative;
        margin-right: 1.5rem;
        .jobImg {
          max-width: 100%;
          border-radius: 0.25rem;
        }
      }
      &__txtBox {
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
}
.collectBtn.pageState {
  top: 24px;
  right: 24px;
}

.jobSubBox {
  border-radius: 0.5rem;
  background-color: #fff;
  .list__item {
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid $gray-line;
    &:hover {
      background-color: $gray-light;
    }
    &__link,
    &__link--sub {
      font-size: 1rem;
      display: block;
      cursor: pointer;
      color: $gray-dark;
      &:hover {
        color: $primary;
      }
    }
    &__link--sub {
      font-size: 14px;
    }
    &__time {
      font-size: 14px;
      text-align: end;
      color:$secondary;
    }
  }
}
// 搜尋頁面
.searchFilterBox {
  background-color: $white;
  border-radius: 0.5rem;
}
//front-footer
.footer--front {
  background-color: #3f6745;
}

//新增企業
.newCompanyForm {
  background-color: #fff;
  border-radius: 0.5rem;
  min-height: 360px;
  padding: 1.5rem;
  @include md {
    padding: 1rem;
  }
}
.addProcessBox {
  border-radius: 0.5rem;
  background-color: white;
  text-align: center;
  position: relative;
  &__title {
    font-size: 32px;
    font-weight: bold;
    color: $primary;
  }
  .icon--okBox {
    display: none;
    background-color: $gray-mid;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    top: -12px;
    right: -12px;
    &__innerBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      background-color: #9fb3a2;
      border-radius: 50%;
    }
    .jobIcon {
      font-size: 16px;
      color: $primary;
    }
  }
}
.addProcessBox.unActive {
  background-color: $gray-line;
  color: #979797;
  .addProcessBox__title {
    color: #979797;
  }
}
.addProcessBox.completed {
  background-color: #9fb3a2;
  .addProcessBox__txt {
    color: $primary;
  }
  .icon--okBox {
    display: block;
  }
}
.cropImgBox {
  width: 100%;
  height: 160px;
  background-color: $gray-light;
  border: 1px solid $gray-line;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 8px;
  border-radius: 0.5rem;
  .cropImg {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  .cropImgBox__deleteBtn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 80;
  }
  .cropImgBox__cover {
    height: 100%;
    width: 100%;
    background-color: #1d1d1d;
    opacity: 0.3;
    position: absolute;
    border-radius: calc(0.5rem - 1px);
    // 設置背景混和模式為相乘模式
  }
  .iconBox {
    background-color: $gray-light;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 50;
    &__innerBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      background-color: #9fb3a2;
      border-radius: 50%;
    }
    .jobIcon {
      font-size: 16px;
      color: $primary;
    }
  }
}

// 工具類
.pageTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1d1d1d;
  margin-bottom: 16px;
}
.subTxt {
  font-size: 14px;
  font-weight: normal;
}
.jobIcon--sm {
  font-size: 16px;
  color: #646464;
}

.btn--applyJob {
  min-width: 120px;
  justify-content: center;
  display: flex;
}
.jobIcon {
  font-size: 20px;
  color: #646464;
}
.jobTag {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #f2f2f2;
  display: inline-block;
}
.btn--web {
  font-size: 16px;
  font-weight: 500;
}
.subTitle {
  font-size: 20px;
  font-weight: 500;
}
.inputGroup--item {
  .inputItem__title {
    // color:#1d1d1d;
    font-size: 14px;
    margin-left: 0.75rem;
    margin-bottom: 0.25rem;
  }
}
.form__labelBox {
  display: flex;
  align-items: center;
  margin: 0px 12px 4px 12px;
  .form__label--custom {
    font-size: 14px;
    margin-bottom: 0;
  }
}
.formTag--must {
  padding: 1px 0.5rem;
  margin-left: 4px;
  border-radius: 0.25rem;
  background-color: #09a758;
  color: $white;
  font-size: 8px;
}
.form__inputBox {
  margin-bottom: 16px;
}
//元件
.goodCardList.swipper--custom {
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
  // padding: 0;
  .goodCard.swipper--custom {
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
  }
}
.goodJobCard {
  .goodJobCard__imgBox {
    max-height: 180px;
    position: relative;
  }
  .goodJobCard__img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .img-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .goodJobCard__jobInfoBox {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0.5rem 0.75rem;
    overflow: hidden;
    z-index: 1;
    .goodJobCard__img {
      position: absolute;
      // top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      object-position: left bottom;
      filter: blur(10px);
      z-index: -1;
    }
  }
  .goodJobCard__logo {
    width: 24%;
    max-width: 80px;
    border-radius: 0.25rem;
    z-index: 99;
  }
}
.iconBtnBox {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  .actionIcon {
    font-size: 24px;
    font-weight: bold;
    color: #1d1d1d;
  }
}

// helper
.form__infoEditBox {
  .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
  .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
  .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .ck-editor__editable_inline {
    min-height: 240px;
  }
  .ck-content h2 {
    font-size: 24px;
  }
}

//後台
.admin-sideList {
  border: 0px;
  position: sticky;
  top: 158px;
  max-height: calc(80vh - 132px);
  overflow: scroll;
  background-color: #fff;
  border-radius: 0.5rem;
  .sideList__item {
    padding: 0.75rem;
    cursor: pointer;
    position: relative;
    &:hover {
      background-color: $primary-light;
      .sideList__item__title {
        color: $primary;
      }
      .sideList__item__subTxt {
        color: $primary;
      }
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $primary;
      border-radius: 0.25rem 0 0 0.25rem;
      width: 0.25rem;
      opacity: 0;
      transition: all 0.3;
    }
    &.active {
      border: 1px solid $gray-line;
      background-color: $white;
      .sideList__item__title {
        color: $primary;
      }
      .sideList__item__subTxt {
        color: $primary;
      }
      &::after {
        opacity: 1;
      }
    }
    &__title {
      color: $dark;
      font-weight: 500;
    }
    &__subTxt {
      color: $secondary;
      font-size: 12px;
    }
  }
}
.adminSelectBox {
  min-height: calc(80vh - 132px);
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.pageSubTitle {
  font-size: 20px;
  color: $dark;
}
.selectBox__section {
  position: relative;
  border-bottom: 1px solid $gray-line;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
  .collectBtn {
    right: 0;
  }
  .jobContent__imgBox {
    width: 48%;
    position: relative;
    margin-right: 48px;
    .jobImage {
      max-width: 100%;
      border-radius: 8px;
    }
  }
  .logoImageBox {
    position: absolute;
    top: -4px;
    right: -36px;
    padding: 6px;
    background-color: #fff;
    border-radius: 0px 0px 0px 4px;
    .logoImage {
      width: 120px;
      border: 1px solid $gray-line;
      border-radius: 2px;
    }
  }
  .JobContent__txtBox {
    width: 100%;
  }
  .page__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1d1d1d;
    margin-bottom: 12px;
  }
  .page__txt {
    color: #646464;
  }
  .page__link {
    text-decoration: underline;
  }
  .companyPage__companyImage {
    border-radius: 8px;
    max-width: calc(33.333% - 12px);
  }
  .logoImageBox.company {
    position: relative;
    right: 0;
    top: 0;
    padding: 0px;
    width: 240px;
    background-color: #fff;
    border-radius: 8px;
    .logoImage {
      width: 100%;
      max-width: 100%;
      border-radius: 8px;
    }
  }
  .jobContent__imgBox.company {
    width: auto;
    margin-right: 12px;
  }
}
.innerList__item {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid $gray-line;
  &:hover {
    background-color: $gray-light;
  }
  &:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &:last-child {
    border-bottom: 0;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
.admin__subHeader {
  background-color: $white;
  position: sticky;
  top: 64px;
  z-index: 1;
}
.admin__subNav {
  min-height: 60px;
  display: flex;
  background-color: $white;
  &__title {
    font-size: 20px;
    color: $dark;
    font-weight: 500;
    margin-right: 3rem;
  }
  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    transition: all 0.3s;
    &::after {
      position: absolute;
      content: '';
      display: block;
      background-color: $primary;
      bottom: 0;
      right: 4px;
      left: 4px;
      height: 0.25rem;
      border-radius: 0.25rem 0.25rem 0 0;
      transition: all 0.3s;
      opacity: 0;
    }
    &:hover {
      background-color: $primary-light;
      .admin__subNav__txt {
        color: $primary;
      }
    }
    &.active {
      background-color: $primary-light;
      &::after {
        opacity: 1;
      }
      .admin__subNav__txt {
        color: $primary;
      }
    }
  }
}
.applyJobPage {
  position: relative;
  .applyJobPage__sideBox {
    position: sticky;
    top: 112px;
    @media screen and (max-width: 991px) {
      position: static;
      .jobSelectBox {
        max-height: 480px;
      }
    }
    @media screen and (max-width: 767px) {
      .jobSelectBox {
        max-height: 240px;
      }
    }
  }
  .jobSelectBox {
    max-height: 78vh;
  }
}
.candidateList {
  &__person {
    min-height: 80px;
    background-color: $white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    &:hover {
      background-color: $gray-light;
      .person__name {
        color: $primary;
      }
    }
    .person__personalImg {
      border: 1px solid $gray-line;
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
    }
    .person__name {
      font-size: 20px;
      color: $dark;
    }
    .person__txt {
      margin-bottom: 0.25rem;
    }
  }
}
.sideBtnBox {
  position: fixed;
  bottom: 1.5rem;
  right: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 800;
  &.SideBtnBox--page {
    bottom: 6rem;
  }
  @media screen and (max-width: 767px) {
    .bg-cover--dark {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.3);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.sideFilter.searchFilterBox {
  max-width: 640px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16);
  margin-bottom: 0.5rem;
  z-index: 9999;
  @media screen and (max-width: 767px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 -3px 4px rgba(0, 0, 0, 0.16);
    .bg-cover--dark {
      position: fixed;
      background-color: rgba(0, 0, 0, 0.16);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.form-check {
  padding-top: 8px;
  padding-bottom: 8px;
}
.footer__nav {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  .nav-item {
    width: 100%;
    @media screen and (max-width: 767px) {
      border-bottom: 1px solid $white;
      &:first-child {
        border-radius: 0.5rem 0.5rem 0 0;
      }
      &:last-child {
        border: 0;
        border-radius: 0 0 0.5rem 0.5rem;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    .nav-link {
      width: 100%;
    }
  }
}
.hamburgerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 44px;
  width: 44px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.16);
  }
  .jobIcon {
    color: $white;
  }
}
