.header--front {
  width: 100%;
  background-color: #3f6745;
  padding: 2px 0px;
  position: sticky;
  top: 0px;
  z-index: 999;
  .header--front__searchModal {
    position: absolute;
    top: 48px;
    right: 0;
    left: 0;
    display: none;
    transition: all 0.3s;
    // height: 0;
    // overflow: hidden;
  }
  .header--front__searchModal.active {
    top: 60px;
    display: block;
    height: auto;
    transition: all 0.3s;
  }
  .header__logo {
    max-height: 100%;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    .nav-link {
      font-weight: 500;
    }
    .header__companyBtnBox {
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: 8px 8px 0px 8px;
      color: #3f6745;
      margin-right: 4px;
      padding: 0.75rem 1rem;
    }
    .header__companyBtnBox--sm {
      padding-top: 1px;
      padding-bottom: 1px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 4px 4px 4px 0px;
      color: #3f6745;
    }
  }
}
.topSearchBanner {
  background-color: #3f6745;
  padding-top: 108px;
  padding-bottom: 72px;
  margin-top: -48px;
  border-top: 1px solid #e2e2e2;
  position: relative;
  z-index: 1;
  .banner__logo {
    max-width: 90px;
    background-color: #fff;
    border-radius: 8px;
  }
  .img-cover {
    height: 105%;
    position: absolute;
    top: -5%;
    bottom: 0;
    right: 20%;
    object-fit: cover;
    z-index: -1;
  }

  .banner__title {
    font-size: 48px;
  }
  .banner__searchBar {
    z-index: 50;
  }
  .flyTag {
    background-color: rgba(255, 255, 255, 0.75);
    color: $primary;
    position: absolute;
    padding: 4px 8px;
    animation: slide 3s linear infinite;
  }
  .flyTag--a {
    border-radius: 12px 12px 12px 0;
    top: -8%;
    right: 4%;
  }
  .flyTag--b {
    border-radius: 12px 12px 0 12px;
    top: 16%;
    right: 24%;
    animation-delay: 1.5s;
  }
}
@keyframes slide {
  0% {
    transform: translate(0, -12px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -12px);
  }
}
.hotJobCard {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 160px;
  width: 100%;
  border-radius: 0.5rem;
  position: relative;
  transition: all 1s;

  &:hover {
    background-size: 110%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: ease-in-out all 0.3s;
  }
  .hotJobCard__jobInfoBox {
    position: absolute;
    bottom: 0;
    padding: 1rem;
  }
  .card__title {
    font-size: 20px;
  }
  .jobTag {
    font-size: 14px;
  }
}
.hotJobCard.card--sm {
  .card__title {
    font-size: 16px;
  }
  .jobTag {
    padding: 2px 4px;
    font-size: 12px;
  }
}
.main--bg {
  background-color: #f2f2f2;
}

.list__title {
  color: #1d1d1d;
  font-weight: 500;
  padding: 12px;
  border-bottom: 1px solid #e2e2e2;
}
.companyImageBox {
  padding: 12px;
  img {
    max-width: 100%;
    border-radius: 8px;
  }
  .companyImage--sub {
    width: calc(50% - 6px);
  }
}

.jobSubBox {
  border-radius: 0.5rem;
  background-color: #fff;
  .list__item {
    padding: 0.5rem 0.75rem;
    border-bottom: 1px solid #e2e2e2;
    a {
      display: block;
      color: #646464;
    }
  }
}
.jobContentBox {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  .jobContent__imgBox {
    width: 48%;
    position: relative;
    margin-right: 48px;
    .jobImage {
      max-width: 100%;
      border-radius: 8px;
    }
  }
  .logoImageBox {
    position: absolute;
    top: -4px;
    right: -36px;
    padding: 6px;
    background-color: #fff;
    border-radius: 0px 0px 0px 4px;
    .logoImage {
      width: 120px;
      border: 1px solid #e2e2e2;
      border-radius: 2px;
    }
  }
  .JobContent__txtBox {
    width: 100%;
  }
  .page__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1d1d1d;
    margin-bottom: 12px;
  }

  .page__txt {
    color: #646464;
  }
  .page__link {
    text-decoration: underline;
  }
}
.box--shadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
  // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  // &:hover {
  //     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  //   }
}
.box--shadow--lg {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.16);
}

.jobList {
  .jobList__item {
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: white;
    margin-bottom: 12px;
    position: relative;

    .jobList__item__imgBox {
      width: 24%;
      position: relative;
      margin-right: 28px;
      .jobImage {
        max-width: 100%;
        border-radius: 8px;
      }
    }
    .jobList__item__txtBox {
      text-decoration: none;
      font-weight: 500;
    }
    .logoImageBox {
      position: absolute;
      top: -4px;
      right: -16px;
      padding: 4px;
      width: 72px;
      background-color: #fff;
      border-radius: 0px 0px 0px 4px;
      .logoImage {
        max-width: 100%;
        border: 1px solid #e2e2e2;
        border-radius: 2px;
      }
    }
  }
  .jobList__item:last-child {
    margin-bottom: 0;
  }
}

.jobSelectBox {
  position: sticky;
  top: 96px;
  height: calc(100vh - 132px);
  overflow: scroll;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 24px;
  .jobContent__imgBox {
    position: relative;
    width: 32%;
    margin-right: 36px;
    .logoImageBox {
      position: absolute;
      top: -4px;
      right: -24px;
      width: 100px;
    }
  }
  .jobSelectBox__title {
    font-weight: 500;
    color: #1d1d1d;
    font-size: 20px;
  }
}
// 公司頁面
.companyPage {
  .jobContent__imgBox {
    width: auto;
    margin-right: 12px;
  }
  .logoImageBox {
    position: relative;
    right: 0;
    top: 0;
    padding: 0px;
    width: 240px;
    background-color: #fff;
    border-radius: 8px;
    .logoImage {
      width: 100%;
      max-width: 100%;
      border-radius: 8px;
    }
  }
  .companyPage__companyImage {
    border-radius: 8px;
    max-width: calc(33.333% - 12px);
  }
  .jobList {
    .jobList__item {
      width: calc(50% - 8px);
      .jobList__item__imgBox {
        width: 24%;
        position: relative;
        margin-right: 28px;
        .jobImage {
          max-width: 100%;
          border-radius: 8px;
        }
      }
      .jobList__item__txtBox {
        text-decoration: none;
        font-weight: 500;
      }
      .logoImageBox {
        position: absolute;
        top: -4px;
        right: -16px;
        padding: 4px;
        width: 72px;
        background-color: #fff;
        border-radius: 0px 0px 0px 4px;
        .logoImage {
          max-width: 100%;
          border: 1px solid #e2e2e2;
          border-radius: 2px;
        }
      }
    }
  }
}
.collectBtn.pageState {
  top: 24px;
  right: 24px;
}

// 搜尋頁面
.searchFilterBox {
  background-color: $white;
  border-radius: 0.5rem;
}
//front-footer
.footer--front {
  background-color: #3f6745;
}

//新增企業
.newCompanyForm {
  background-color: #fff;
  border-radius: 0.5rem;
  min-height: 360px;
  padding: 1.5rem;
}
.addProcessBox {
  border-radius: 0.5rem;
  background-color: white;
  text-align: center;
  position: relative;
  &__title {
    font-size: 32px;
    font-weight: bold;
    color: $primary;
  }
  .icon--okBox {
    display: none;
    background-color: $gray-mid;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    top: -12px;
    right: -12px;
    &__innerBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      background-color: #9fb3a2;
      border-radius: 50%;
    }
    .jobIcon {
      font-size: 16px;
      color: $primary;
    }
  }
}
.addProcessBox.unActive {
  background-color: $gray-line;
  color: #979797;
  .addProcessBox__title {
    color: #979797;
  }
}
.addProcessBox.completed {
  background-color: #9fb3a2;
  .addProcessBox__txt {
    color: $primary;
  }
  .icon--okBox {
    display: block;
  }
}
.cropImgBox {
  width: 100%;
  height: 160px;
  background-color: $gray-light;
  border: 1px solid $gray-line;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 8px;
  border-radius: 0.5rem;
  .cropImg {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  .cropImgBox__deleteBtn {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 80;
  }
  .cropImgBox__cover {
    height: 100%;
    width: 100%;
    background-color: #1d1d1d;
    opacity: 0.3;
    position: absolute;
    border-radius: calc(0.5rem - 1px);
    // 設置背景混和模式為相乘模式
  }
  .iconBox {
    background-color: $gray-light;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 50;
    &__innerBox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2rem;
      height: 2rem;
      background-color: #9fb3a2;
      border-radius: 50%;
    }
    .jobIcon {
      font-size: 16px;
      color: $primary;
    }
  }
}
//main
.main {
  min-height: calc(100vh - 366px);
  position: relative;
}
p {
  line-height: 1.5;
}
.jobImage {
  max-width: 100%;
  border-radius: 8px;
}
.logoImageBox {
  padding: 4px;
  width: 120px;
  background-color: #fff;
  border-radius: 0px 0px 0px 4px;
  .logoImage {
    max-width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
  }
}
.page__title--sub {
  font-size: 20px;
  display: flex;
  color: #3f6745;
  align-items: center;
  margin-bottom: 16px;
  .title__icon {
    display: block;
    width: 24px;
    height: 16px;
    background-color: #3f6745;
    border-radius: 8px 8px 0px 8px;
    margin-right: 0.5rem;
  }
}
// 工具類
.pageTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1d1d1d;
  margin-bottom: 16px;
}
.subTxt {
  font-size: 14px;
  font-weight: normal;
}
.jobIcon--sm {
  font-size: 16px;
  color: #646464;
}
.collectBtn {
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 12px;
  right: 12px;
  .jobIcon {
    color: #979797;
  }
}
.btn--applyJob {
  min-width: 120px;
  justify-content: center;
  display: flex;
}
.jobIcon {
  font-size: 20px;
  color: #646464;
}
.jobTag {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #f2f2f2;
  display: inline-block;
}
.btn--web {
  font-size: 16px;
  font-weight: 500;
}
.subTitle {
  font-size: 20px;
  font-weight: 500;
}
.inputGroup--item {
  .inputItem__title {
    // color:#1d1d1d;
    font-size: 14px;
    margin-left: 0.75rem;
    margin-bottom: 0.25rem;
  }
}
.form__labelBox {
  display: flex;
  align-items: center;
  margin: 0px 12px 4px 12px;
  .form__label--custom {
    font-size: 14px;
    margin-bottom: 0;
  }
}
.formTag--must {
  padding: 1px 0.5rem;
  margin-left: 4px;
  border-radius: 0.25rem;
  background-color: #09a758;
  color: $white;
  font-size: 8px;
}
.form__inputBox {
  margin-bottom: 16px;
}
//元件
.goodCardList.swipper--custom {
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
  // padding: 0;
  .goodCard.swipper--custom {
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
  }
}
.goodJobCard {
  .goodJobCard__imgBox {
    max-height: 180px;
    position: relative;
  }
  .goodJobCard__img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .img-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .goodJobCard__jobInfoBox {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0.5rem 0.75rem;
    overflow: hidden;
    z-index: 1;
    .goodJobCard__img {
      position: absolute;
      // top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      object-fit: cover;
      object-position: left bottom;
      filter: blur(10px);
      z-index: -1;
    }
  }
  .goodJobCard__logo {
    width: 24%;
    max-width: 80px;
    border-radius: 0.25rem;
    z-index: 99;
  }
}
.iconBtnBox {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  .actionIcon {
    font-size: 24px;
    font-weight: bold;
    color: #1d1d1d;
  }
}
// helper
.form__infoEditBox {
  .ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
  .ck.ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
    border-radius: 0.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
  .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .ck-editor__editable_inline {
    min-height: 240px;
  }
  .ck-content h2 {
    font-size: 24px;
  }
}

//後台
.admin-sideList {
  border: 0px;
  position: sticky;
  top: 158px;
  max-height: calc(80vh - 132px);
  overflow: scroll;
  background-color: #fff;
  border-radius: 0.5rem;
  .sideList__item {
    padding: 0.75rem;
    cursor: pointer;
    position: relative;
    &:hover {
      background-color: $primary-light;
      .sideList__item__title {
        color: $primary;
      }
      .sideList__item__subTxt {
        color: $primary;
      }
    }
    &::after {
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $primary;
      border-radius: 0.25rem 0 0 0.25rem;
      width: 0.25rem;
      opacity: 0;
      transition: all 0.3;
    }
    &.active {
      border: 1px solid $gray-line;
      background-color: $white;
      .sideList__item__title {
        color: $primary;
      }
      .sideList__item__subTxt {
        color: $primary;
      }
      &::after {
        opacity: 1;
      }
    }
    &__title {
      color: $dark;
      font-weight: 500;
    }
    &__subTxt {
      color: $secondary;
      font-size: 12px;
    }
  }
}
.adminSelectBox {
  min-height: calc(80vh - 132px);
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.pageSubTitle {
  font-size: 20px;
  color: $dark;
}
.selectBox__section {
  position: relative;
  border-bottom: 1px solid $gray-line;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
  .collectBtn {
    right: 0;
  }
  .jobContent__imgBox {
    width: 48%;
    position: relative;
    margin-right: 48px;
    .jobImage {
      max-width: 100%;
      border-radius: 8px;
    }
  }
  .logoImageBox {
    position: absolute;
    top: -4px;
    right: -36px;
    padding: 6px;
    background-color: #fff;
    border-radius: 0px 0px 0px 4px;
    .logoImage {
      width: 120px;
      border: 1px solid #e2e2e2;
      border-radius: 2px;
    }
  }
  .JobContent__txtBox {
    width: 100%;
  }
  .page__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1d1d1d;
    margin-bottom: 12px;
  }
  .page__txt {
    color: #646464;
  }
  .page__link {
    text-decoration: underline;
  }
  .companyPage__companyImage {
    border-radius: 8px;
    max-width: calc(33.333% - 12px);
  }
  .logoImageBox.company {
    position: relative;
    right: 0;
    top: 0;
    padding: 0px;
    width: 240px;
    background-color: #fff;
    border-radius: 8px;
    .logoImage {
      width: 100%;
      max-width: 100%;
      border-radius: 8px;
    }
  }
  .jobContent__imgBox.company {
    width: auto;
    margin-right: 12px;
  }
}
.innerList__item {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid $gray-line;
  &:hover {
    background-color: $gray-light;
  }
  &:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  &:last-child {
    border-bottom: 0;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
.admin__subHeader {
  background-color: $white;
  position: sticky;
  top: 64px;
  z-index: 1;
}
.admin__subNav {
  min-height: 60px;
  display: flex;
  background-color: $white;
  &__title {
    font-size: 20px;
    color: $dark;
    font-weight: 500;
    margin-right: 3rem;
  }
  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
    transition: all 0.3s;
    &::after {
      position: absolute;
      content: '';
      display: block;
      background-color: $primary;
      bottom: 0;
      right: 4px;
      left: 4px;
      height: 0.25rem;
      border-radius: 0.25rem 0.25rem 0 0;
      transition: all 0.3s;
      opacity: 0;
    }
    &:hover {
      background-color: $primary-light;
      .admin__subNav__txt {
        color: $primary;
      }
    }
    &.active {
      background-color: $primary-light;
      &::after {
        opacity: 1;
      }
      .admin__subNav__txt {
        color: $primary;
      }
    }
  }
}
.applyJobPage {
  position: relative;
  .applyJobPage__sideBox {
    position: sticky;
    top: 112px;
  }
  .jobSelectBox {
    max-height: 78vh;
  }
}
.candidateList {
  &__person {
    min-height: 80px;
    background-color: $white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    &:hover{
      background-color: $gray-light;
      .person__name {
        color: $primary;
      }
    }
    .person__personalImg {
      border: 1px solid $gray-line;
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
    }
    .person__name {
      font-size: 20px;
      color: $dark;
    }
    .person__txt{
      margin-bottom: 0.25rem;
    }
  }
}
