.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $primary;
  width: 1.5rem;
  border-radius: 0.25rem;
}

.swiper-wrapper {
  padding-bottom: 2.25rem;
}
.swiper-button-prev.swiper-custom,
.swiper-button-next.swiper-custom {
  top: 40%;
}
.swiper-button-prev.swiper-custom {
  left: 1.5rem;
}
.swiper-button-next.swiper-custom {
  right: 1.5rem;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
// 首頁的企業推薦修改
.weeklyCompany
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  bottom: 0;
}
